
.dashboard-container {
  width: 80%;
  float: right;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
.user {
  margin-top: 20px;
}

.dashboard-content-container {
  width: 100%;
  border: 1px solid black;
  height: 100vh;
}

.dashboard-top-row {
  width: 1300px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 50px;
}

.dashboard-top-row-item {
  width: 200px;
  height: 150px;

  margin: 0;

  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.dashboard-bottom {
  width: 1300px;
  height: auto;

  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-bottom-left {
  width: 860px;
  height: 680px;

  margin: 0;

  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.dashboard-bottom-right {
  width: 420px;
  height: 680px;

  margin: 0;

  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
