
<!--
<app-auth (signinStatus)="toggleSignin($event)" *ngIf="!showSignUpSignInScreen"></app-auth>
-->
<div class="app-container">
  <div class="navigation-container"  *ngIf="jwtService.isTokenValid()">
    <h5 class="loggedin-user">Welcome {{user}}!</h5>
   <nav class="navigation">
      <a routerLink="/dashboard" routerLinkActive="active" class="navigation-button">Dashboard (Not Finished)</a>
      <a routerLink="/transactions" routerLinkActive="active" class="navigation-button">Transactions (Almost Finished)</a>
      <a routerLink="/budgets" routerLinkActive="active" class="navigation-button">Budgets (Not Started)</a>
      <a routerLink="/reports" routerLinkActive="active" class="navigation-button">Reports (Not Finished)</a>
      <a routerLink="/goals" routerLinkActive="active" class="navigation-button">Goals (Not Started)</a>
      <a routerLink="/notifications" routerLinkActive="active" class="navigation-button">Notifications (Not Started)</a>
      <a routerLink="/helping" routerLinkActive="active" class="navigation-button">Help (Not Started)</a>
     <a routerLink="/about" routerLinkActive="active" class="navigation-button">About (Not Started)</a>
    </nav>
   <div class="navigation-account-buttons">
     <a routerLink="/auth" class="navigation-button" (click)="signout()">Sign Out</a>
      <a routerLink="/settings" routerLinkActive="active" class="navigation-button">Settings (Not Started)</a>
     <h6 class="app-heading">Personal Finance Tracker 2</h6>
     <h6 class="app-heading">Created by Gage Eisold</h6>

   </div>
  </div>

  <div class="page-container">
  <router-outlet></router-outlet>
  </div>
</div>
